:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --white-text-color-60: rgba(255, 255, 255, 0.6);
  --black-text-color: #000000;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --btn-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --card-bg-color: #ffffff;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-900: 900;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-26: 26px;
  --font-size-36: 36px;
  --font-size-44: 44px;
  --card-set-gap: 30px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-36);
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* -----------------------------------Header-------------------------------- */

/* Main-nav */
.header {
  border-bottom: 1px solid #ececec;
}
.header .main-nav {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-26);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-text-color);
  font-family: 'Raleway', sans-serif;
  padding-top: 25px;
  padding-bottom: 25px;
}
.logo-blue {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .items + .items {
  margin-left: 50px;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .link {
  display: block;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-500);
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.site-nav .current {
  color: var(--accent-color);
}

/* Authorization navigation */
.auth {
  display: flex;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth.list .link {
  display: flex;
  align-items: center;
}
.auth.list {
  margin: 0;
  margin-left: auto;
}
.auth.list .items + .items {
  margin-left: 50px;
}
.contacts.link:hover,
.contacts.link:focus {
  color: var(--accent-color);
}
.auth .contacts {
  padding-top: 32px;
  padding-bottom: 32px;
}
/*  Authorization navigation icon */
.icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */

.hero {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
}
.hero-title {
  font-weight: var(--font-weight-900);
  font-size: var(--font-size-44);
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* Button */
.btn {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-16);
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;
  padding: 10px 32px;
  text-align: center;
}

/* --------------------- Peculiarities ------------------- */
.peculiarities {
  padding-top: 94px;
}

.peculiarities-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
}

.peculiarities-list .item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}
.peculiarities-list .title {
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.peculiarities .title {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-14);
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.peculiarities .description {
  margin: 0;
  font-size: var(--font-size-14);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Peculiarities icon */

.icon-conteiner {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--btn-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-conteiner:hover,
.icon-conteiner:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*------------------- What are we doing -------------------*/
.employment-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
}

.employment-list .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
}

/* -------------------------- Team ----------------------- */

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
}

.team-list .item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  background-color: var(--card-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}

.post {
  margin: 0;

  font-size: var(--font-size-16);
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
}

.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list .post + .post {
  margin-bottom: 30px;
}
.section.bgc {
  background-color: var(--btn-bg-color);
}

/* --------------------- Footer -----------------------------*/

.footer {
  background-color: var(--hero-bg-color);
}
.footer-block {
  padding: 60px 0 60px 0;
}

.address-block .address {
  color: var(--white-text-color);
}
.address-block {
  font-style: normal;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-block:not(:last-child) {
  margin-top: 9px;
}
.address-block .contacts-footer {
  color: var(--white-text-color-60);
}
.address:hover,
.address:focus {
  color: var(--accent-color);
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}
.footer .logo.link {
  color: var(--white-text-color);
}
.footer-logo {
  margin-bottom: 20px;
}
.contacts-address,
.contacts-email {
  margin-bottom: 9px;
}

/* ----------------------------Portfolio------------------------- */

/* Button portfolio */

.list-btn {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.list-btn .item + .item {
  margin-left: 8px;
}
.btn-portfolio {
  padding: 6px 22px;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: var(--btn-bg-color);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

/* Our projects*/

.list-projects {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
  list-style: none;
}

.list-projects .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
}

.name-portfolio {
  margin: 0;
  margin-bottom: 4px;
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-18);
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.post-portfolio {
  margin: 0;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Card */

.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
